header.header {
    height: 80px;
    display: flex;
    align-items: center;
    background: #fff;
    box-shadow: 0 0 10px rgba(#000, 0.1);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 23;
}

.header__logo {
    width: 100%;
    max-width: 123px;
    flex: 0 0 123px;

    img {
        max-width: 92px;
        max-height: 69px;
    }
}

.header__nav {
    width: 100%;
    max-width: calc(100% - 269px);
    flex: 0 0 calc(100% - 269px);

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
            display: inline-block;
            vertical-align: middle;
            margin-right: 36px;

            &:last-child {
                margin-right: 0;
            }

            a {
                color: #247DC0;
                font-size: 14px;
                font-weight: 500;
                transition: 0.3s;

                &:hover {
                    color: #FF6B17;
                }
            }
        }
    }
}

.header__rightsect {
    width: 100%;
    max-width: 146px;
    flex: 0 0 146px;
    display: flex;
    justify-content: space-between;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        li {
            a {
                color: #082134;
                font-size: 14px;
                font-weight: 600;
                font-family: "Noto Sans Georgian", sans-serif;
                position: relative;
                transition: 0.3s;

                &::after {
                    content: '';
                    display: inline-block;
                    height: 1px;
                    width: 0;
                    background: #247DC0;
                    bottom: -7px;
                    left: 0;
                    position: absolute;
                    transition: 0.3s;
                }

                &:hover {
                    color: #FF6B17;
                }
            }

            &.active {

                a {
                    color: #247DC0;

                    &::after {
                        width: 100%;
                    }

                    &:hover {
                        color: #247DC0;
                    }
                }
            }
        }
    }

    .profile {
        button {
            img {
                width: 24px;
            }
        }
    }
}

.header__burger {
    display: none;
}


@media(max-width:1199.8px) {

    .header__nav ul li {
        margin-right: 16px;
    }

    .header__rightsect,
    .header__logo {
        max-width: 120px;
        flex: 0 0 120px;
    }

    .header__nav {
        max-width: calc(100% - 240px);
        flex: 0 0 calc(100% - 240px);
    }


}

@media(max-width:991.8px) {
    .header__burger {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        vertical-align: middle;
    }

    button.burger {
        display: inline-block;
        position: relative;
        padding: 0;
        width: 32px;
        height: 20px;
        border: none;
        background: transparent;
        cursor: pointer;

        &:focus {
            outline: none;
        }

        &.burger2 {

            &:after,
            &:before,
            span {
                width: 100%;
                height: 2px;
                border-radius: 100px;
                position: absolute;
                display: block;
                background: #0E4271;
                right: 0;

            }

            &:after,
            &:before {
                content: "";
                transition: 0.3s width 0.4s;
            }

            &:after {
                top: 0px;
                left: 0px;
                margin-top: 0px;
            }

            &:before {
                bottom: 0px;
                right: 0px;
                margin-bottom: 0px;
            }

            span {
                top: 50%;
                margin-top: -1px;
                transition: transform 0.3s;

                &:before {
                    content: "";
                    background: #0E4271;
                    width: 100%;
                    height: 2px;
                    border-radius: 100px;
                    position: absolute;
                    left: 0px;
                    transition: transform 0.3s;
                }
            }

            &.on {


                &:after {
                    transition: all 0.2s;
                    width: 0%;
                    left: 0px;
                }

                &:before {
                    transition: all 0.2s;
                    width: 0%;
                    right: 0px;
                }

                span {
                    transform: rotate(45deg);
                    transition: 0.3s transform 0.4s;

                    &:before {
                        transform: rotate(-90deg);
                        transition: 0.3s transform 0.4s;
                    }
                }


            }
        }

    }

    .header__nav {
        display: none;
    }

    .header__rightsect {
        max-width: calc(100% - 120px);
        flex: 0 0 calc(100% - 120px);
        justify-content: flex-end;
        align-items: center;
    }

    .header__rightsect ul li a:after {
        bottom: -2px;
    }

    .header__rightsect ul {
        margin-right: 20px;
    }

    .header__rightsect .profile {
        margin-right: 20px;
    }




    .header__nav {
        display: block;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        max-width: 100%;
        height: calc(100vh - 80px);
        background: #fff;
        z-index: 99;
        border-top: 1px solid #247DC0;
        padding: 40px;
        overflow: auto;
        transition: 0.5s;
        transform: translateX(100%);

        &.show {
            transform: translateX(0);
        }
    }

    .header__nav ul li {
        margin: 0 0 15px 0;
        display: block;

        a {
            font-size: 16px;
        }
    }

    .footer__list {
        margin-bottom: 30px;
    }





}

@media(max-width:575.8px) {
    header.header {
        height: 60px;
    }

    .header__logo img {
        max-height: 44px;
    }

    .header__nav {
        height: calc(100vh - 60px);
        padding: 40px 20px;
    }



}


// font-family: "Noto Sans Georgian", sans-serif;