.contactsect{
    padding-bottom: 40px;
}

.contactsect__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 90px 20px 20px;
    border-radius: 20px;
    background-color: #fff;
}

.contactsect__info{
    border-radius: 20px;
    padding: 40px 38px;
    background-color: #3B8AC8;
    position: relative;
    overflow: hidden;
    max-width: 370px;
    width: 100%;
    margin-right: 20px;
    &:after{
        content: '';
        position: absolute;
        display: block;
        width: 209px;
        height: 209px;
        border-radius: 50%;
        bottom: -80px;
        right: -20px;
        background: linear-gradient(270deg, rgba(196,240,251,0.9) 0%, rgba(153,219,248,0.5) 100%);
    }
    h2{
        font-size: 20px;
        color: #fff;
        line-height: 150%;
        font-weight: 600;
        margin-bottom: 16px;
    }

    p{
        font-size: 14px;
        line-height: 150%;
        color: #fff;
        margin-bottom: 40px;
    }
    ul{
        padding: 0;
        li{
            display: flex;
            img{
                width: 24px;
                height: 24px;
                background-size: cover;
                margin-right: 24px;
            }
            p{
                font-weight: 600;
                font-size: 16px;
                line-height: 120%;
                font-family: "Noto Sans Georgian", sans-serif;
                a{
                    display: block;
                    margin-top: 10px;
                    font-weight: 500;
                    color: #fff;
                    transition: .3s;
                    &:hover{
                        color: #FF6B17;
                    }
                }
            }
        }
    }
}

.contactsect__form{
    max-width: 565px;
    width: 100%;
    form{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .inputfield{
        width: calc(50% - 10px);
        &.fullwidth{
            width: 100%;
        }
        textarea,
        input{
            border-radius: 5px;
            border: 1px solid #ADB5BA;
            width: 100%;
            height: 40px;
            padding: 11px 8px;
            font-size: 12px;
            line-height: 150%;
            &::placeholder{
                color: #ADB5BA;
            }
        }
        textarea{
            resize: none;
            height: 143px;
        }
    }
    .bluebtn{
        display: inline-flex;
        width: fit-content;
        height: 52px;
        padding: 15px 55px;
    }
    label{ 
        color: #247DC0;
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        margin-bottom: 8px;
    }
}

.mapsect {
    padding-bottom: 40px;
}

.map {
    border-radius: 30px;
    display: block;
    overflow: hidden;
    height: 350px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: .6s ease-in-out;
    }

    &:hover {
        img {
            transform: scale(1.1);
            filter: brightness(70%);
        }
    }
}





// --- Adaptive --- //

@media(max-width:1199.8px) {
    .contactsect__wrapper{
        padding: 20px;
    }
    .map {
        height: 300px;
    }
}

@media(max-width:991.8px) {
    .map {
        height: 270px;
    }
}